@import "tailwindcss";
@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.next-app{
  width: 100%;
  min-height: auto;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  font-family: 'Ownglyph_ParkDaHyun';
}
.health-app{
  background: var(--background);
  border: #ebebeb 1px solid;
  width: 100%;
  /* max-width: 800px; */
  height: auto;
  max-height: 200vh;
  /* border: 3px solid #ebebeb; */
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
}

*, *::before, *::after {
  box-sizing: border-box;

}

a {
  color: inherit;
  text-decoration: none;
}